@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    margin: auto;
    max-width: 1440px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
    height: 76px;
    border-bottom: #333333;
}

.header-logo {
    background-image: url(../svg/logo.svg);
    background-repeat: no-repeat;
    width: 51px;
    height: 36px;
    margin: 20px 51px 0px 120px;
}

.header-navigation {
    display: flex;
    list-style: none;
    width: 710px;
    margin-right: 164px;
    justify-content: space-between;
    
}

.header-navigation-item {
    display: flex;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.25px;

}

a {
    text-decoration: none;  
}
.header-navigation a {
    color: #333333;
}

.header-navigation-psy {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #03B2A5;
    padding: 14px 20px 14px;
    background-color: #E3F5F5;
}

button {
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: #03B2A5;
}

summary {
    display: flex;
    cursor: pointer;
}

.arrow-down-details {
display: flex;
}

.details-svg-arrow {
    padding-top: 3px;
    padding-left: 4px;
}

.details-svg-arrow-text {
    position: fixed;
    display: block;
    z-index: 1;
    padding-top: 3px;
    font-size: 18px;
}

.navigation-footer {
margin-top: 16px;
margin-left: 6px;
display: flex;
}

.navigation-footer-text {
    color: rgba(51, 51, 51, 0.70);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
letter-spacing: 0.25px;
}

.navigation-footer-text-main {
    margin-right: 4px;
}

.navigation-footer-text-blog {
    margin-left: 8px;
}

.navigation-footer-arrow {
    padding-top: 1px;
}
main {
    margin-left: 120px;
}
.header-blog {
    color: #333;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
    margin-top: 30px;
}

.header-blog-menu {
    display: flex;
margin-right: 139px;
justify-content: space-between;

}

.header-blog-menu-item {
    color: #333;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
border-radius: 24px;
border: 1px solid #C1C5CD;
padding: 6px 8px;
}

.header-blog-menu-item-svg {
    vertical-align: middle;
    margin-top: -1px;
}

.header-blog-menu-item:hover {
    border-radius: 24px;
border: 1px solid #16C8BB;
transition: 0.1s;
}


.header-blog-menu-item a {
    color: #333;
}
.container-background {
background-image: url(../png/background.png);
background-repeat: no-repeat;
background-size: cover;
width: 1440px;
height: 672px;
margin-top: 142px;
margin-left: -120px;
z-index: -1;
}

.container-main-top {
    height: 499px;
    width: 1200px;
    display: flex;
    margin-top: -814px;
}

.container-main-top-block {
    height: 499px;
    width: 588px; 
    display: flex;
    border-radius: 16px;
    border: 1px solid rgba(222, 222, 222, 1);
    margin-top: 24px;
}
.container-main-top-block-left {
    background-image: url(../png/back-top-left.png);
    background-repeat: no-repeat;
    flex-direction: column;
}
.container-main-top-block-right {
    margin-left: 24px;
    background-image: url(../png/back-top-right.png);
    background-repeat: no-repeat;
    flex-direction: column;
}

.header-blog-menu-item-maincontainer {
    height: 20px;
    background: rgba(255, 255, 255, 0.70);
    margin: 8px 8px;
    width: fit-content;
}
h1 {
    color: #333;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px;
margin-top: 16px;
margin-left: 16px;
}

h2 {
    color: #494949;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
letter-spacing: 0.25px;
margin-left: 16px;
}

h3 {
    color:  #333;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-left: 16px;
}

h4 {
    color: #868686;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    margin-left: 16px;
}

.container-main-top-block-text1 {
    margin: 178px 31px 4px 16px;
}

.container-main-top-block-text2 {
    margin: 0px 0px 8px 16px;
}

.container-main-top-block-text3 {
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-main-top-block-text4 {
    margin-left: 16px;
    margin-top: 68px;
}

.container-main-top-block-text1-right {
margin-top: 226px;
}

.container-main-center {
    width: 1200px;
    height: 475px;
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.container-main-center-all {
    width: 384px;
    height: 475px;
    border-radius: 16px;
    border: 1px solid rgba(222, 222, 222, 1);
}

.container-main-center-left {
background-image: url(../png/backgroundmiddleleft.png);
background-repeat: no-repeat;
}

.container-main-center-middle {
    background-image: url(../png/backgroundmiddlecenter.png);
    background-repeat: no-repeat;
}

.container-main-center-right{
    background-image: url(../png/backgroundmiddleright.png);
    background-repeat: no-repeat;
}

.container-main-center-left-blocktext1 {
    margin-top: 182px;
}

.container-main-center-middle-blocktext1 {
    margin-top: 229px;
}

.container-main-center-right-blocktext1 {
    margin-top: 229px;
}

.center-span-svg {
  margin-top: 9px;
  display: block;
}

.container-main-bottom-left {
background-image: url(../png/backgroundbottomleft.png);
background-repeat: no-repeat;
}

.container-main-bottom-middle {
    background-image: url(../png/backgroundbottommiddle.png);
    background-repeat: no-repeat; 
}

.container-main-bottom-right {
    background-image: url(../png/backgroundbottomright.png);
background-repeat: no-repeat;
}

.button-bottom-more {
    margin-top: 56px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: #35B3A9; 
    height: 48px;
    width: 142px;
  
}

.button-bottom-more a {
    color: #FFF; 
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

footer {
    margin-top: 96px;
    width: 1440px;
    height: 302px;
    background-color: #2963A3;
}

.footer-container {
   display: flex;
   align-items: baseline;
   padding-top: 40px;
}
.footer-list-one {
    padding-left: 120px;
    display: inline-block;
    margin-top: 0%;
}

.footer-list-txt {
    padding-bottom: 16px;
    list-style: none;
}

.footer-list-txt a {
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}

.footer-list-two {
    display: inline-block;
    padding-left: 90px;
    margin-top: 0px;
}

.footer-middle {
    display: inline-block;
    width: 486px;
    height: 170px;
    margin-left: 90px;
}

.footer-middle-txt {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.footer-input-middle {
    width: 312px;
    height: 48px;
    border-radius: 4px;
border: 1px solid rgba(157, 157, 157, 0.20);
background: #FFF;
color: #9D9D9D;
padding-left: 14px;
margin-top: 8px;
margin-bottom: 8px;
}

.footer-middle-form {
    display: inline-flex;
}

.footer-input-button {
    width: 68px;
    height: 52px;
    border-radius: 4px;
background: #16C8BB;
margin-top: 8px;
margin-left: -10px;
}

.footer-middle-sub-txt {
    color: #FFF;
opacity: 0.7;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.25px;
}

.footer-left {
    display: inline-block;
    align-self: self-start;
    margin-left: 90px;
}

.footer-left-icon-social-block svg{
    width: 16px;
height: 16px;
border-radius: 60px;
background: #EFF5FB;
padding: 8px;
margin-right: 16px;
align-items: center;
margin-top: 40px;
}

.footer-left-icon-social-block svg:hover {
    transform: scale(1.2);
}

.footer-left-icon-social-block-dzen svg{
border: none;
background: none;
padding: 0%;
width: 32px;
height: 32px;
}

li:hover {
transform: scale(1.1);
}

.footer-underline {
    opacity: 0.3;
background: #9D9D9D;
width: 1200px;
height: 1px;
margin-left: 120px;
}

.footer-bottom-txt a {
text-decoration: none;
color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
opacity: 0.5;
}

.footer-bottom-container li {
    list-style-type: none;
}

.footer-bottom-container {
    display: flex;
    padding: 0%;
    
}

.footer-bottom-container li:hover {
    transform: scale(1.05);
}

.footer-bottom {
    margin-left: 120px;
    display: flex;
    height: 45px;
}

.footer-bottom-txt-docs {
    padding-left: 50px;
}

.footer-bottom-txt-pay {
    padding-left: 50px;
}